body {
	background:#333745;
	min-height:100%;
}

h1 {
    text-align: center;
    font-size: 30pt;
    height:  50pt;
}

#countdown {
    height: 100%;
    font-size: 30pt;
    text-align: center;
}

/*
 * Login-view
======================================================== */

#loginBG {
	position:fixed;
	top:25%;
	width:100%;
}

#loginArea {
	position:relative;
	width:578px;
	margin-left:auto;
	margin-right:auto;
	padding:50px 110px 50px 110px;
	background:rgba(218,237,226,0.2);
	clear:both;
	overflow:auto;
}

#loginArea #logo {
	float:left;
}

#loginArea #authArea {
	float:right;
	width:319px;
	padding-top:80px;
	margin-left:50px;
} 

#loginArea #authArea p {
	font-family:Georgia;
	font-size:27px;
	padding:7px 0;
	margin:0px;
	font-weight:thin;
	font-style:italic;
	color:white;
}

#loginArea #authArea img {
	margin-top:25px;
}

/*
 * Question-view
======================================================== */

.questionArea {
	clear:both;
	overflow:auto;
} 

#questionContent {
	margin-left:20px;
	padding-top:10px;
}

#questionContent table {
	
}

#questionContent td {
	padding:10px;
	margin:1px;
	min-width:240px;
	background:#daede2;
	vertical-align:bottom;
    cursor: pointer;
}

#questionContent p, #questionContent span {
	font-family:"Lucida Grande";
	font-size:20px;
}

#questionContent p {
	color:white;
	margin-bottom:20px;
}

#questionContent span {
	color:black;
	margin-left:10px;
}

#questionNumber {
	font-size:15px !important;
}


.mainArea {
	text-align:center;
	padding:15px;
}

.contentArea {
	text-align:left;
	margin:15px 40px 0 40px;
	padding:30px;
	background:rgba(218,237,226,0.2);
}

#quizzes {
}

#quizzes img {
	margin:0 15px 30px;
    cursor: pointer;
}

#countdownContent {
	float:left;
	margin-left:60px;
	padding-top:125px;
}

#countDownNumber {
	font-family:"Lucida Grande";
	font-size:117px;
	color:white;
}

#profPic {
	width:180px;
	padding-bottom:20px;
}

#leftArea {
	float:left;
	padding-right:30px;
}

#quiz {
	float:left;
	width:650px;
}

#resetDiv {
	clear:both;
}

#genre {
	float:left;
}

#failureBG {
	background:rgb(210,107,90);
}

#successBG {
	background:rgb(119,211,125);
}

#resTable td {
	border:0;
	margin:1px;
	font-family:"Lucida Grande";
	font-size:20px;
	color:black;
}

.time {
	font-size:15px !important;
	color:white;
}

.resBG {
	background:#daede2;
}



